{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "airbnb-base-typescript"
  ],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "requireConfigFile": false,
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "error",
    "no-labels": "off",
    "no-restricted-syntax": "off",
    "no-unused-labels": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "default",
        "format": [
          "camelCase"
        ],
        "leadingUnderscore": "allow",
        "trailingUnderscore": "allow"
      },
      {
        "selector": "variable",
        "format": [
          "camelCase",
          "UPPER_CASE"
        ],
        "leadingUnderscore": "allow",
        "trailingUnderscore": "allow"
      },
      {
        "selector": "typeLike",
        "format": [
          "PascalCase"
        ],
        "leadingUnderscore": "allow"
      }
    ],
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "overrides": [
    {
      "files": ["test/**"],
      "plugins": ["jest"],
      "env": {
        "jest/globals": true
      },
      "parserOptions": {
        "requireConfigFile": false,
        "project": "./test/tsconfig.json"
      },
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error"
      }
    }
  ]
}
